body
{
font-family: "Montserrat";
}




#title
{
    background-color: #ff4c68;
    color: white;
    text-align: left;
}

h1
{

  line-height: 1.5;
  font-size: 3rem;
  font-weight: bold;
}
h2
{
font-family: "Montserrat";
font-size: 3rem;
line-height: 1.5;
}


/* nav bar */
.navbar
{
  padding: 0 0 4.5rem;
}

.nav-item
{
  padding: 0 18px;
}

.nav-link
{
  font-size: 1.2rem;
  font-family: "Montserrat-Light";

}
.container-fluid
{
  padding: 3% 15% 7%;

}

.downloadbutton
{

}
.title-images{
  width: 60%;
  transform: rotate(25deg);

  position: absolute;
  right: 30%;

}
.navbar-brand
{
  font-family: "Ubuntu" ;
  font-size:3.5rem;
  font-weight: bold;
}

/* Features */
i.ft {
    font-size: 50px;
    color: #ef8172;
    padding-bottom: 4%;
}
.fth3{

  font-size: 1.5rem;
  font-weight: bold;
}
.ftcol
{
  text-align: center;
}
p.ft {
  color: #8f8f8f;
}
#features
{
  padding: 13% 15% ;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
i.ft:hover
{
  color: red;
}


/* Testimonials */
#testimonials
{

  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.testm-img
{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item
{
   padding: 7% 15%;
}

#press{
  text-align: center;
  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-logo
{
   width: 15%;
   margin: 20px 20px 50px;
}



/* pricing */

#pricing
{
   padding: 100px;
   text-align: center;
}
.price-col
{
  padding: 3% 2%;
}


/* cta */
#cta
{
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
  padding: 10% 13%;
}
.ctabtn
{
  margin-left: 20px;
  margin-top: 40px;
}


/* footer */
#footer
{
  text-align: center;
  padding: 6% 5%;
}
.fimg
{
  margin: 10px;
}
.pctr
{
  margin-top: 15px;
}


/* media */
@media (max-width: 1028px) {
  .title-images
  {
    position: static;
    transform: rotate(0);
    padding-top: 10% 10%;
  }
  #title
  {
    text-align: center;
  }
}
